@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@-moz-document url-prefix() {
  section {
    padding: 20px;
  }
  
  @media (min-width: 768px) {
    section {
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media (min-width: 1024px) {
    section {
      padding-left: 80px;
      padding-right: 80px;
    }
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.ibm-plex-mono-thin {
  src: url('./fonts/IBMPlexMono-Thin.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 100;
  font-style: normal;
}

.ibm-plex-mono-extralight {
  src: url('./fonts/IBMPlexMono-ExtraLight.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 200;
  font-style: normal;
}

.ibm-plex-mono-light {
  src: url('./fonts/IBMPlexMono-Light.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.ibm-plex-mono-regular {
  src: url('./fonts/IBMPlexMono-Regular.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.ibm-plex-mono-medium {
  src: url('./fonts/IBMPlexMono-Medium.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.ibm-plex-mono-semibold {
  src: url('./fonts/IBMPlexMono-SemiBold.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.ibm-plex-mono-bold {
  src: url('./fonts/IBMPlexMono-Bold.ttf');
  font-family: "IBM Plex Mono", monospace;
  font-weight: 700;
  font-style: normal;
}